{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cakes/main.css' %}">
</head>
<body>
    <h1>FAQ</h1>
    <p>Here are some frequently asked questions about our Cake Store:</p>
    <ul>
        <li>Q: What are your opening hours?</li>

        <li>A: We are open Monday to Friday from 9am to 6pm.</li>
        <li>Q: Do you offer delivery?</li>

        <li>A: Yes, we offer delivery within the local area.</li>
        <!-- Добавьте дополнительные вопросы и ответы, если необходимо -->
    </ul>
    <a href="/">Home  На главную</a>
</body>
</html>
